* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./multimedia/portada-juegos-estimulacion-cognitiva.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header {
  background-color: #e0bcd4;
  padding: 10px;
  margin-bottom: auto;
  text-align: center;
}
header h1 {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 38px;
  margin: 5px;
  padding: 10px;
  text-align: center;
}
header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b4d59e;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
header .nav .nav-item {
  list-style: none;
}
header .nav .nav-item .nav-link {
  color: #fff;
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: small;
}
header .nav .nav-item .nav-link.active, header .nav .nav-item .nav-link:hover {
  color: rgb(204, 204, 143);
  background-color: #fff;
  transition: background-color 0.3s ease;
}

main, .text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 80px;
}
main h1, .text-center h1 {
  font-size: 36px;
  margin-bottom: 10px;
}
main p, .text-center p {
  margin-bottom: 20px;
}
main img, .text-center img {
  width: 100%;
  height: auto;
  max-width: 500px;
  margin-bottom: 20px;
}
main ul, .text-center ul {
  list-style: none;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
main ul li, .text-center ul li {
  padding-bottom: 30px;
  margin-bottom: 30px;
  text-decoration-line: none;
}
main a, .text-center a {
  border-bottom-width: 10px;
  display: block;
  padding: 10px 20px;
  margin: 10px 20px;
  background-color: #9ece7a;
  color: #0e0909;
  text-decoration: none;
  border-radius: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

footer {
  background-color: #f8e0e0;
  text-align: center;
  padding: 10px;
}

.text-center {
  background-color: #b4d59e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  margin: 20px auto;
  border-radius: 5px;
  font-size: 20px;
}

.lineas ul {
  list-style: none;
  margin: 0 auto;
}

.rectas li {
  margin-bottom: 10px;
  margin: 0 auto;
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ccc;
  margin-right: 10px;
}
.icon.gmail {
  background-color: #db4a39;
}
.icon.phone {
  background-color: #007bff;
}
.icon.address {
  background-color: #28a745;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  main, .text-center {
    padding: 10px;
  }
}
@media only screen and (max-width: 400px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
  main, .text-center {
    padding: 5px;
  }
}/*# sourceMappingURL=style.css.map */