<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre nosotros - EntreKids</title>
  <meta name="description" content="Conoce más acerca de EntreKids, un sitio web dedicado a proporcionar juegos educativos para niños. Fomentamos el aprendizaje a través del juego y desarrollamos habilidades como la resolución de problemas, creatividad y cooperación.">
  <meta name="keywords" content="EntreKids, juegos para niños, juegos educativos, resolución de problemas, creatividad, cooperación">
  <link rel="stylesheet" href="../style.css">
  <link rel="icon" href="../multi.html/favicon.ico">
</head>
<body>
	<header>
		<h1>Contacto</h1>
		<ul class="nav">
			<li class="nav-item" role="presentation">
			  <a class="nav-link active rounded-5" href="../index.html">Home</a></li>
			<li class="nav-item" role="presentation">
			  <a class="nav-link rounded-5" href="../templates/gallery.html">Galeria</a></li>
			<li class="nav-item" role="presentation">
			  <a class="nav-link rounded-5" href="../templates/contact.html">Contacto</a></li>
			<li class="nav-item" role="presentation">
			  <a class="nav-link rounded-5" href="../templates/about.html">Acerca de</a></li>
		</ul>
	</header>
	<main>
		<h2>Información de contacto</h2>
		<p><span class="icon gmail"></span>Correo electrónico: EntreKids@gmail.com</p>
		<p><span class="icon phone"></span>Teléfono: +54 (0351) 153-233456</p>
		<p><span class="icon address"></span>Dirección: Calle Pelquis 123, Ciudad Cordoba</p>
	</main>
</body>
</html>

