<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Galería de Juegos para Niños - EntreKids</title>
  <meta name="description" content="Explora nuestra galería de juegos para niños. Imágenes de juegos educativos para estimulación cognitiva, cuentos, cuidado dental y más.">
  <meta name="keywords" content="EntreKids, galería de juegos, juegos educativos, estimulación cognitiva, cuentos, cuidado dental">
  <link rel="stylesheet" href="../style.css">
  <link rel="icon" href="../multimedia/favicon.ico">
</head>
<body>
  <header>
    <h1>Galería</h1>
    <ul class="nav">
      <li class="nav-item" role="presentation">
        <a class="nav-link active rounded-5" href="../index.html">Home</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link rounded-5" href="../templates/gallery.html">Galeria</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link rounded-5" href="../templates/contact.html">Contacto</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link rounded-5" href="../templates/about.html">Acerca de</a>
      </li>
    </ul>   
  </header>
  <main>
    <div id="galeria">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <img src="../multimedia/Puro-Cuento-ok.jpg" class="img-fluid">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <img src="../multimedia/cuarentena-coronavirus-derechos-niños.jpg" class="img-fluid">
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <img src="../multimedia/niños-cepillarse-dientes.jpg" class="img-fluid">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <img src="../multimedia/portada-juegos-estimulacion-cognitiva.jpg" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </main>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
  <footer>
    <p>Derechos Reservados &copy; 2023</p>
  </footer>
</body>
</html>