<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Galería de Juegos para Niños - EntreKids</title>
  <meta name="description" content="Explora nuestra galería de juegos para niños. Imágenes de juegos educativos para estimulación cognitiva, cuentos, cuidado dental y más.">
  <meta name="keywords" content="EntreKids, galería de juegos, juegos educativos, estimulación cognitiva, cuentos, cuidado dental">
  <link rel="stylesheet" href="../style.css">
  <link rel="icon" href="../multimedia/favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <header>
    <h1>Galería</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">Acerca de</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="gallery.html">Galeria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contacto</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <div id="galeria">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <img src="../multimedia/Puro-Cuento-ok.jpg" class="img-fluid" alt="Imagen de Puro Cuento">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <img src="../multimedia/cuarentena-coronavirus-derechos-niños.jpg" class="img-fluid" alt="Imagen de cuarentena y coronavirus">
          </div>
        </div>
    
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <img src="../multimedia/niños-cepillarse-dientes.jpg" class="img-fluid" alt="Imagen de niños cepillándose los dientes">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <img src="../multimedia/portada-juegos-estimulacion-cognitiva.jpg" class="img-fluid" alt="Imagen de portada de juegos de estimulación cognitiva">
          </div>
        </div>
      </div>
    </div>
    

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <footer>
    <p>Derechos Reservados &copy; 2023</p>
  </footer>
</body>
</html>
